

.bg-image{
  background: url(https://img.freepik.com/free-vector/toll-road-concept-illustration_114360-10430.jpg?w=996&t=st=1702713894~exp=1702714494~hmac=11e8e90f6986e7f98892fafad7271e2a7d8ade18166d43a97293f842ac4f38f1);
  
  background-size: cover;
  filter: blur(8px);
  -webkit-filter: blur(8px);

 
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
